*{text-decoration: none;}

*{margin:0}
*{padding:0;}

/*main*/

.antlogistica{
    font-family: 'League Spartan', sans-serif;
    color: #1b0066 ;
    font-size: 60px;
    display: flex;
    padding: 30px;     
}

.flex-icon{
    margin: none;
    display: flex;    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-icon img{
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    align-items: center;
}

.flex-icon p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1b0066;
    font-size: 20px;
}

.articulo{
    text-align: center;
    margin: 0px;
}

.articulo h3{
    font-family: 'Roboto', sans-serif;
    color: #1b0066;
    font-size: 30PX;
    margin: 0px;
}

.articulo p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: grey;
    margin: 2px;
}

/*css  de contacto*/
.titulo {
  font-family: "League Spartan", sans-serif;
  color: white;
  background-color: #1b0066;
  font-size: 57px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0px;
}

.parrafo {
  font-family: "League Spartan", sans-serif;
  color: white;
  background-color: #1b0066;
  text-align: center;
  padding: 3px;
  margin: 0px;
  font-size: 25px;
}

.main-contacto{
  display: flex;
  justify-content: center;
}
.contacto {
  background-image: linear-gradient(to bottom, #093562,#021B79);
  width: 85%;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
}


/*FOOTER*/
.footer {
  background-color: #1b0066;
}

.container1 {
  background-color: white;
}

.antlogistica__1 {
  font-family: "League Spartan", sans-serif;
  color: #1b0066;
  text-align: center;
  padding: 20px;
}

.datos {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: rgb(255, 244, 244);
}

.datos p {
  margin-bottom: 5px;
}

.datos__cap {
  font-size: 30px;
}

.redes{
  background-image: linear-gradient(to bottom, #093562,#021B79);
  display: flex;
  justify-content: space-evenly;
}
.redes a img{
  width: 35px;
  height: 35px;
}

.final p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: rgb(255, 244, 244);
}

.final{
  margin-top: 15px;
  background-color:#1b0066;
}
.final a {
  color: white
}


/*css  de Recomencacion*/

.back__caja h3{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgb(65, 63, 63);
  padding: 3px;
}

.back__caja p{
  text-align: left;
  font-family:'Roboto', sans-serif ;
  font-size: 14px;
  color: rgb(139, 136, 136);
  padding: 2px;
      
}

.back__caja ul li{
  text-align: left;
  font-family:'Roboto', sans-serif ;
  font-size: 14px;
  color: rgb(139, 136, 136);
  padding: 2px;
}

/*css  de Contactenos*/

.tabla__contactenos{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(65, 63, 63);
  padding: 50px;
}

.zona-comentario{
  border-radius:5px ;
  border-color: #d49828;

}

/*css  de Nosotros*/


.articulo2{
  text-align: center;
  margin: 0px;
}

.articulo2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: grey;
  margin: 2px;
  padding: 30px;
}
/*# sourceMappingURL=estilos.css.map */
