//Variables
@import "colores";

/*css  de contacto*/
.titulo {
    font-family: "League Spartan", sans-serif;
    color: white;
    background-image: linear-gradient(to bottom, rgba(255, 102, 0, 0.8980392157), #1b0066);
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px;
}

.parrafo {
    font-family: "League Spartan", sans-serif;
    color: white;
    background-color: #1b0066;
    text-align: center;
    padding: 3px;
    margin: 0px;
    font-size: 25px;
}

.tabla-contacto {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(65, 63, 63);
    padding: 50px;
}

.input {
    padding: 8px;
    border-radius: 5px;
    border-color: #d49828;
    font-family: "Roboto", sans-serif;
    color: rgb(65, 63, 63);
}